/* 
	Style Config
*/
// Body Background
$body-background-color: $screen;

// Nav logo
$logo-color-1: #000000;
$logo-color-2: #000000;
$logo-color-3: #000000;
$logo-color-4: #000000;
$logo-position: absolute;
$logo-margin: 8px 0 0 8px;
$logo-width: 50px;
$animation-duratin: 0.3s;

// Primary Nav
$primary-nav-margin: 0 0 0 125px;
$primary-nav-width: 100%;
$primary-nav-height: 40px;
$primary-nav-padding: 0 0 20px 0;
// Primary Nav Items
$primary-nav-item-background-color: #ffff00; 
$primary-nav-item-width: 150px;
$primary-nav-item-padding: 10px 10px;
$primary-nav-item-font-size: 1.5em;
$primary-nav-item-font-color: #fff;
$primary-nav-item-font-weight: bold;

// hyper link <a>
// item 1
$primary-nav-item-1-background-color: #000;
$primary-nav-item-1-a-font-color: #fff;
$primary-nav-item-1-a-underline-color-1: #ffff00;
$primary-nav-item-1-a-underline-color-2: #00ffff;
// item 2
$primary-nav-item-2-background-color: #00ffff;
$primary-nav-item-2-a-font-color: #000;
$primary-nav-item-2-a-underline-color-1: #000000;
$primary-nav-item-2-a-underline-color-2: #ff00ff;
// item 3
$primary-nav-item-3-background-color: #ff00ff;
$primary-nav-item-3-a-font-color: #fff;
$primary-nav-item-3-a-underline-color-1: #00ffff;
$primary-nav-item-3-a-underline-color-2: #ffff00;
// item menu
$primary-nav-item-menu-font-color: #000;
$primary-nav-item-menu-width: 50px;
$primary-nav-item-menu-hover-width: 200px;
$primary-nav-item-menu-background-color: #ffff00;

$primary-nav-item-a-underline-height: 3px;
$primary-nav-item-a-underline-transition-duration: 0.15s;

// Background
$background-stripe-height: 8px;
$background-stripe-color: #ffff00;
$background-triangle-size: 80px;
$background-triangle-color: #ffff00;
