$violet: #6e3667;
$electric_lime: #88d317;
$deep_plum: #1a0315;
$denim: #1a2930;
$shadow: #535353;
$screen: #c5c1c0;
$steel: #0a1612;
$black: #000000;
$pink: #ec576b;
$aqua: #4ec5c1;
$aqua_1: #008f95;
$azure: #01abaa;
$ink: #062f4f;
$lime: #e5e33b;
$mari_gold: #f7ce3e;
$papaya: #e24e42;
$mustard: #e9b000;
$blush: #eb6e80;
$posy: #813772;
$ember: #b82601;
$fuschia: #a239ca;
$jewel: #4717f6;
$stark: #e7dfdd;
$sunflower: #ffce00;
$starry_night: #0375b4;
$irises: #007849;
$evening: #262228;
$peach: #fea680;
$butter: #fedc3d;
$yellow: #ffff00;
