.PrimaryNav {
	position: absolute;
	margin: $primary-nav-margin;
	width: $primary-nav-width;
	height: $primary-nav-height;
	padding: $primary-nav-padding;
	z-index: 8;
	display: flex;
}

.PrimaryNavItem {
	position: relative;
	width: $primary-nav-item-width;
	height: inherit;
	color: $primary-nav-item-font-color;
	font-weight: $primary-nav-item-font-weight;
	font-size: $primary-nav-item-font-size;
	background-color: $primary-nav-item-background-color;
	padding: $primary-nav-item-padding;

	& a {
		position: relative;

		&:before {
			@include AnimatedUnderLine(0, $primary-nav-item-a-underline-height, $primary-nav-item-1-a-underline-color-2);
			transition: width $primary-nav-item-a-underline-transition-duration ease-out $primary-nav-item-a-underline-transition-duration, margin-left $primary-nav-item-a-underline-transition-duration ease-out $primary-nav-item-a-underline-transition-duration;
		}

		&:after {
			@include AnimatedUnderLine(0, $primary-nav-item-a-underline-height, $primary-nav-item-1-a-underline-color-1);
			transition: width $primary-nav-item-a-underline-transition-duration ease-out, margin-left $primary-nav-item-a-underline-transition-duration ease-out;
		}
	}

    &:hover {
		cursor: pointer;

    	& a {
   	        &:before {
	          margin-left: 0;
	          width: 100%;  
	          transition: width $primary-nav-item-a-underline-transition-duration ease-in;
	        }

	        &:after {
	          margin-left: 0;
	          width: 100%;
	          transition: width $primary-nav-item-a-underline-transition-duration ease-in;
			} 		
    	}
    }

	&.ParallelogramP {
	  @include ParallelogramP(-45deg);
	}

	&#PrimaryNavItem-1 {
		color: $primary-nav-item-1-a-font-color;
		background-color: $primary-nav-item-1-background-color;

		& a {
			&:before {
				background-color: $primary-nav-item-1-a-underline-color-2;
			}

			&:after {
				background-color: $primary-nav-item-1-a-underline-color-1;
			}
		}
	}

	&#PrimaryNavItem-2 {
		color: $primary-nav-item-2-a-font-color;
		background-color: $primary-nav-item-2-background-color;

		& a {
			&:before {
				background-color: $primary-nav-item-2-a-underline-color-2;
			}

			&:after {
				background-color: $primary-nav-item-2-a-underline-color-1;
			}
		}		
	}

	&#PrimaryNavItem-3 {
		color: $primary-nav-item-3-a-font-color;
		background-color: $primary-nav-item-3-background-color;

		& a {
			&:before {
				background-color: $primary-nav-item-3-a-underline-color-2;
			}

			&:after {
				background-color: $primary-nav-item-3-a-underline-color-1;
			}
		}		
	}

	&#PrimaryNavItem-menu {
		background-color: $primary-nav-item-menu-background-color;
		width: $primary-nav-item-menu-width;
		cursor: pointer;

		& #PrimaryNavItem-menu-icon {
			width: inherit;
			color: #000;
			padding: 0;

			& svg {
				transition: transform 0.1s linear;
			}

			&.bar-open {
				& svg {
					transform: rotateZ(45deg);
				}
			}
		}

		& #PrimaryNavItem-menu-social-bar {
			position: absolute;
			color: #000;
			left: $primary-nav-item-menu-width;
			top: -10px;
			bottom: -10px;
			width: 0;
			padding-left: 0;
			padding-right: 0;
			overflow: hidden;
			transition: width 0.2s linear, padding 0.2s linear;

			& svg {
				padding: 5px;

				&:hover {
					background-color: #00ffff;
					border-radius: 5px;
				}
			}

			&.bar-open {
				width: 200px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
