// Nav Bar 1
$slide-nav-color: #3fb3b0;
$slide-nav-height: 40px;
$slide-nav-font-size: 20px;
$slide-nav-font-color: #000;
$slide-nav-font-family: arial;
$slide-nav-first-link-margin-left: 72px;
$slide-nav-link-margin: 0 21px;

// hyper link <a>
$ribbonBottom: #d65151;
$ribbonTop: #0077b5;
$ribbonHeight: 3px;


@mixin AnimatedUnderLine($width, $height, $color) {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  margin-left: 100%;
  width: $width;
  height: $height;
  background-color: $color;
}


#slide-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: $slide-nav-height;
  margin-top: $stripHeight;
  margin-left: 80px;
  overflow: hidden;
  transition: width 0.3s ease-in;
  z-index: 100;
  
  a {
    position: relative;
    line-height: $slide-nav-height;
    font-size: $slide-nav-font-size;
    font-family: $slide-nav-font-family;
    color: $slide-nav-font-color;
    cursor: pointer;
    margin: $slide-nav-link-margin;
    
    &:first-child {
      margin-left: $slide-nav-first-link-margin-left;
    }

    span {
      padding: 2px 4px;
      
      &:before {
        @include AnimatedUnderLine(0, $ribbonHeight, $ribbonBottom);
        transition: width 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s;
      }

      &:after {
        @include AnimatedUnderLine(0, $ribbonHeight, $ribbonTop);
        transition: width 0.2s ease-out, margin-left 0.2s ease-out;
      }
    }
    
    &:hover {
      span {
        &:before {
          margin-left: 0;
          width: 100%;  
          transition: width 0.2s ease-in;
        }

        &:after {
          margin-left: 0;
          width: 100%;
          transition: width 0.2s ease-in;
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: -5px;
      left: -20px;
      background-color: $slide-nav-color;
      width: 100%;
      height: 100%;
      padding: 10px 18px;
      transform: skewX(-45deg);
      z-index: -1;
    }
  }
  
  &.show {
    width: 500px;
  }
}
