.PrimaryNav {
	position: absolute;
	margin: $primary-nav-margin;
	width: $primary-nav-width;
	height: $primary-nav-height;
	padding: $primary-nav-padding;
	z-index: 8;
	display: flex;
}

.PrimaryNavItem {
	position: relative;
	width: $primary-nav-item-width;
	height: inherit;
	color: $primary-nav-item-font-color;
	font-weight: $primary-nav-item-font-weight;
	font-size: $primary-nav-item-font-size;
	background-color: $primary-nav-item-background-color;
	padding: $primary-nav-item-padding;

	&.ParallelogramP {
	  @include ParallelogramP(-45deg);
	}

	&#PrimaryNavItem-1 {
		background-color: $primary-nav-item-background-color-1;
	}

	&#PrimaryNavItem-2 {
		background-color: $primary-nav-item-background-color-2;
	}

	&#PrimaryNavItem-3 {
		background-color: $primary-nav-item-background-color-3;
	}

	&:last-child {
		background-color: $primary-nav-item-background-color-last-child;
		width: $primary-nav-item-width-last-child;
		color: #000;
	}
}
